[submodule "hrx-system"]
	path = hrx-system
	url = https://github.com/ROCm/hrx-system.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ROCm/llama.cpp.git
	branch = hrx-integration
